
@font-face {
font-family: "SourceSansPro-Regular";
src: url("SourceSansPro-Regular.ttf");
}


.bnr__background{
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.overlay__forbnr{
  background: rgb(0, 0, 0,  0.50);
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index:0;
 }
.greatlearning__logoholder{
  display: inline-block;
  position: relative;
  z-index: 1;
}
.logo{
  object-fit: contain;
  object-position: center;
  margin: 18px 10px;
  width: 100%;
  height: 52px;
}
.bnralignment__mob{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text__container{
}
.bnr__maintxt{
  font-size: 40px;
  font-family: SourceSansPro-Regular;
  font-weight: bold;
  color: #ffffff;
}
.bnr__description{
  font-size: 22px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
  padding: 6px 0 6px 20px;
  border-left: 1px solid #ffffff;
}
.membership__duration{
  font-size: 24px;
  font-family: 'SourceSansPro-Regular';
  color: #ffffff;
  padding: 30px 0 0 0;
}
.form__container{
}
.getstarted__form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #ffffff;
  width: 80%;
  margin: auto;
}
.form__heading{
  font-size: 30px;
  font-family: SourceSansPro-Regular;
  color: black;
  padding: 0px 0px 15px 0px;
}
.form__inputfield {
  font-size: 15px;
  font-family: SourceSansPro-Regular;
  outline: none;
  padding: 10px 12px;
  margin: 10px 0px;
  width: 90%;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0, 0.2);
}
.form__heading:after {
  content: "";
  position: absolute;
  background: black;
  display: block;
  width: 60px;
  height: 2px;
  left: 42%;
  top: 12.5%;
}
.form__checkboxholder{
  padding: 10px 25px;
  display: flex;
}
.checkbox__textholder{
  font-size: 14px;
  font-family: 'SourceSansPro-Regular';
  color: gray;
  text-align: justify;
  padding: 0 0 0 10px;
  display: inline-block;
}
.form__button{
  font-size: 20px;
  font-family: SourceSansPro-Regular;
  color: #ffffff;
  background: #1765dc;
  padding: 8px 25px;
  margin: 18px 0px 27px;
  border: 0px;
  border-radius: 4px;
}
.title__holder{
  font-size: 40px;
  font-family: SourceSansPro-Regular;
  font-weight: bold;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.whylearntitle__holder{
  padding: 30px 6px 0px;
}
.Curriculumtitle__holder{
  padding: 50px 6px 80px;
}
.learningtitle__holder{
  padding: 50px 6px 40px;
}
.testimonialtitle__holder{
  padding: 50px 6px 30px;
}

hr {
  border-top: 0px solid #eee;
}
.whylearntitle__holder:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -17%;
  left: 40%;
  width: 20%;
  height: 4px;
  background: #1765dc;
}
.Curriculumtitle__holder:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 31%;
  left: 40%;
  width: 20%;
  height: 4px;
  background: #1765dc;
}
.learningtitle__holder:after {
  content: "";
  position: absolute;
  display: block;
  top: 24%;
  left: 40%;
  width: 20%;
  height: 4px;
  background: #1765dc;
}
.testimonialtitle__holder:after {
  content: "";
  position: absolute;
  display: block;
  top: 19%;
  left: 45%;
  width: 10%;
  height: 4px;
  background: #1765dc;
}
iframe{
  margin: 40px 20px 50px;
}
.icon__holder{
  padding: 25px 0px;
}
.iconandtext__alignment{
  text-align: center;
}
.comprehensiveicon__holder{
  background-image: url('curriculum.svg');
  background-color: #ffd84f;
}
.personalisedicon__holder{
  background-image: url('mentorship.svg');
  background-color: #3fc7f5;
}
.dedicatedicon__holder{
  background-image: url('career-assistance.svg');
  background-color: #35ad8f;
}
.common__iconcss{
  background-size: 58px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.icontext__holder{
  font-size: 23px;
  font-family: 'SourceSansPro-Regular';
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 20px 0px;
  display: block;
}
.curriculum__background{
  background-color: #ecf4ff;
  margin: auto;
  display: block;
}
.curriculum__widthholder{
  background-color: #ecf4ff;
  margin: auto;
  display: block;
  padding: 0px 10% 50px;
}
.accordian__title {
  text-decoration: none;
  font-size: 22px;
  display: block;
  color: black;
  font-family: 'SourceSansPro-Regular';
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  padding: 28px 35px;
}
.accordian__title:hover{
  text-decoration: none;
}
.accordian__title:hover, .accordian__title:focus{
  text-decoration: none;
}
.accordian__title:after {
  content: '\002B';
  position: relative;
  font-size: 35px;
  color: #404040;
  font-weight: bold;
  margin-left: 0px;
  float: right;
  top: -10px;
  right: 19px;
}
.accordian__title[aria-expanded="true"]:after {
  content: "\2212";
}
.learning__subheading{
  font-size: 18px;
  font-family: 'SourceSansPro-Regular';
  font-weight: bold;
  padding: 30px 0;
  display: block;
}
.learning__content{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.learning__description{
  font-size: 17px;
  font-family: 'SourceSansPro-Regular';
  padding: 0 0 0 50px;
}
.learning__descriptionone:after{
  content: "";
  position: absolute;
  background-image: url(black-tick.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  top: 9%;
  left: 0%;
  width: 20px;
  height: 20px;
}
.learning__descriptiontwo:after{
  content: "";
  position: absolute;
  background-image: url(black-tick.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  top: 32%;
  left: 0%;
  width: 20px;
  height: 20px;
}
.learning__descriptionthree:after{
  content: "";
  position: absolute;
  background-image: url(black-tick.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  bottom: 41%;
  left: 0%;
  width: 20px;
  height: 20px;
}
.learning__descriptionfour:after{
  content: "";
  position: absolute;
  background-image: url(black-tick.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  bottom: 26%;
  left: 0%;
  width: 20px;
  height: 20px;
}
.learning__descriptionfive:after{
  content: "";
  position: absolute;
  background-image: url(black-tick.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  bottom: 7%;
  left: 0%;
  width: 20px;
  height: 20px;
}
.padding__none{
  padding:0px;
}
.testimonials__widthholder{
  width: 100%;
  padding: 30px 0px 80px 0px;
}
.carousel-indicators{
  display: none;
}
.carousel-caption{
  text-shadow: unset;
}
.testi__content{
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  text-align: justify;
  color: black;
  padding: 15px 3px 30px;
  text-shadow: unset;
}
.testi__content:before {
  content: '';
  background-image: url(left-quote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 26px;
  width: 26px;
  left: -3%;
  top: -3%;
}
.testi__content:after {
  content: '';
  background-image: url(right-quote-sign.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px;
  position: absolute;
  height: 26px;
  width: 26px;
  bottom: 35%;
  left: 37%;
}
.testi__paddingholder{
  padding: 0px;
}
.item{
  min-height: 215px;
}
.user__name{
  font-size: 16px;
  font-family: SourceSansPro-Regular;
  text-align: right;
  color: black;
  font-weight: bold;
  margin: 0px;
}
.carousel-control{
  background-image: unset !important;
  background-color: transparent;
  height: 70px;
  box-shadow: unset;
}
.glyphicon-chevron-left{
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 90px !important;
  width: 90px !important;
}
.glyphicon-chevron-right{
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 90px !important;
  width: 90px !important;
  transform: rotate(180deg);
}
.glyphicon-chevron-left:before{
  content: '';
}
.glyphicon-chevron-right:before{
  content: '';
}
.ftrdescription__holder{
  background-color: #f4f4f4;
  padding: 50px 40px 120px 40px;
}
.ftr__description{
  font-size: 19px;
  font-family: SourceSansPro-Regular;
  font-weight: bold;
  text-align: center;
  margin: auto;
  display: block;
  width: 85%;
  line-height: 1.8;
}
.ftr__button{
  font-family: 'SourceSansPro-Regular';
  color: #260591;
  text-decoration: none;
}
.ftr__button:hover{
  color: black;
  text-decoration: none;
}
.bottom__bg{
  background-color: #29069c;
  padding: 18px;
}
.ftr__text{
  font-size: 20px;
  font-family: 'SourceSansPro-Regular';
  color: #ffffff;
  padding-right: 30px;
}
.ftr__buttonholder{
  font-size: 20px;
  font-family: 'SourceSansPro-Regular';
  color: #260591;
  text-decoration: none;
  padding: 8px 35px;
  border: 0px;
  border-radius: 6px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}









.container {
  position: relative;
}



.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
}



.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
.menu a {
  color: #898989;
}
.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}
.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

.slider {
  position: relative;
  width: 100%;
  height: 24vh;
  border-bottom: 0px solid #ddd;
}

.slide {
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  font-weight: 400;
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  font-weight: 400;
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: black;
  font-size: 18px;
  line-height: 1.75em;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: justify;
  padding: 0px;
}

.slide-img {
  text-align: right;
}

.slide-feature {
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png');
  height: 470px;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  position: absolute;
  left: 8%;
  top: 13%;
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
}

.arrow-next {
  position: absolute;
  right: 11%;
  top: 13%;
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}
.testimonials__descholder{
  text-align: left;
  font-family: 'SourceSansPro-Regular';
}
.testimonials__nameholder{
  text-align: left;
  float: right;
  line-height: 1.4;
  font-weight: bold;
}
.slide-copy{
  font-family: 'SourceSansPro-Regular';
  width: 70%;
  margin: auto;
  display: block;
  left: 15%;
}

.arrownext__holder{
  object-fit: contain;
  object-position: center;
  margin: 0px 0px;
  width: 100%;
  height: 75px;
}
.arrowprev__holder{
  object-fit: contain;
  object-position: center;
  margin: 18px 10px;
  width: 100%;
  height: 75px;
  transform: rotate(180deg); 
}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



#sticky {
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 2em;
  border-radius: 0.5ex;
}

#sticky.stick {
  position: fixed;
  bottom:  0;
  top: auto;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
}
a , a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.ftr_buttonholder{
    font-family: 'SourceSansPro-Regular';
    padding: 5px 20px;
    font-size: 18px;
}


.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 25px 30px;
  width: 100%;
  border: none;
  text-align: left;
  margin: auto;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border: 1px solid rgb(0 0 0 / 32%);
}

.active, .accordion:hover {
  background-color: #fff;
}

.panel {
  padding: 8px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin: 0px;
}





@media only screen and (max-width: 768px){
  .bnr__maintxt {
    font-size: 28px;
    margin: 19px 0 30px 0px;
  }
  .form__container {
    padding: 0;
    margin: auto;
  }
  .form__heading:after{
    top: 10.5%;
  }
  .getstarted__form{
    width: 100%;
  }
  .bnralignment__mob {
    padding: 0px 20px 40px 20px;
    flex-direction: column-reverse;
    display: flex;
  }
  .text__container {
    padding: 10px 0 0 10px;
  }
  .background__overlay{
    min-height: 130vh;
  }
  .title__holder {
    font-size: 35px;
  }
  .video__holder{
    padding: 40px 15px 50px;
  }
  .video__frame {
    margin: 0;
    height: 350px;
    width: 100%;
  }
  iframe{
    margin: auto;
    width: 100%;
  }

  .icon__holder {
    display: none;
  }
  .iconsholder__mob{
    display: flex;
    flex-direction: column-reverse;
  }
  .laptopimage__holder{
    margin: 0px 0 15px 0px;
    object-fit: contain;
    object-position: center;
    height: 200px;
    width: 100%;
  }
  .curriculum__background {
    background-color: #ecf4ff;
    padding: 0px 0px 20px;
  }
  .learning__subheading {
    padding: 30px 0 10px;
  }
  .carousel-control{
    display: none;
  }
  .carousel-indicators{
    display: block;
  }
  .testi__content:after, .testi__content:before{
    display: none;
  }
  .carousel-caption{
    bottom: -40px;
    right: 0px;
    left: 0px;
  }
  .carousel-inner{
    padding: 0 0 90px 0;
  }
  .user__name{
    text-align: left;
  }
  .carousel-indicators li{
    background-color: rgb(158 158 158);
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
  }
  .title__underline, .curtitleunderline, .testimonialstitle__underline {
    width: 45%;
    border-top: 5px solid  #1765dc;
  }
  .carousel-indicators .active {
    background-color: #1765dc;
    margin: 0;
    width: 15px;
    height: 15px;
  }
  .ftr__description{
    width: 100%;
  }
  .ftrdescription__holder {
    padding: 40px 20px 120px 20px;
  }
  .ftr__text{
    display: none;
  }
  .slide-copy {
    width: 90%;
    left: 5%;
  }
  .testimonials__nameholder {
    float: left;
  }
  .whylearntitle__holder:after {
    bottom: -95%;
  }
  .arrow-next {
    right: 0%;
    top: auto;
    bottom: -5px;
    margin: 0;
  }
  .arrowprev__holder{
    height: 45px;
    margin: 18px 0px;
  }
  .arrownext__holder{
    height: 45px;
    margin: 18px 0px;
  }
  .arrow-prev{
    left: 0%;
    top: auto;
    bottom: -5px;
    margin: 0;
    position: absolute;
  }
  .testimonials__widthholder{
    padding: 30px 0px 170px 0px;
  }
  .testimonialtitle__holder:after {
    top: 11%;
    left: 40%;
    width: 20%;
  }
  .learningtitle__holder:after {
    left: 30%;
    width: 40%;
    top: 14%;
  }
  .curriculum__widthholder {
    padding: 0px 7% 50px;
  }
}